<h1>Dashboard</h1>
<p>Welcome {{user.username}}</p>
<a href="/courses">Browse Courses</a> | <a href="/user/my-enrolments">My Enrolments</a>
<form method="post" action="/user/logout"><button>Logout</button></form>