<h1>Register</h1>
<form method="post" action="/user/register">
    <label>Username: <input name="username" required></label><br>
    <label>Password: <input type="password" name="password" required></label><br>
    <button>Register</button>
</form>
<p>Already have an account? <a href="/login">Login here</a></p>